@use 'animations';
@use 'base';
@use 'mixins';
@use 'reset';
@use 'variables';

@use '../layout/layout.scss';
@use '../components/appComponents/navBar/navBar.scss';
@use '../components/appComponents/sideBar/sideBar.scss';